<div class="ui stackable grid">

  <div class="row">
    <div class="blue column">
      <section id="container_header"></section>
    </div>
  </div>

  <div class="row">
    <div class="grey eight wide column">
      <section id="container_login"></section>
    </div>
    <div class="green eight wide column">
      <section id="container_search"></section>
    </div>
  </div>

  <div class="row">
    <div class="red eight wide column">
      <section id="container_location"></section>
    </div>
    <div class="orange eight wide column">
      <section id="container_burger"></section>
    </div>
  </div>

</div>

<!-- REGISTER HTML -->
<script type="text/template" id="template_register">
  <form action="/user/register" method="post">
    <input type="text" name="username" placeholder="Your Username" value="">
    <input type="password" name="password" placeholder="Your Password" value="">
    <input type="submit" value="Create Account">
  </form>
</script>


<!-- LOGIN HTML -->
<script type="text/template" id="template_login">
    <input type="text" id="login_username" value="" placeholder="Your username">
    <input type="password" id="login_password" value="" placeholder="You Password">
    <button type="button" id="login_btn">Submit</button>
</script>


<!-- LOCATION RESULTS HTML -->
<script type="text/template" id="location-template">
  <article>
    <p>
      <strong>Name: </strong><%= name %>
    </p>
    <p>
      <strong>Website: </strong><%= website %>
    </p>
    <p>
      <strong>Burgers: </strong>
      <ul>
        <% for (var burger in burgers) { %>
          <li><%= burgers[burger]["name"] %> </li>
          <%= burgers[burger]["description"] %>
        <% } %>
        <% if (latenight) { %>
          <p><strong><em>Yes, we're open late!</em></strong></p>
        <% } %>
        <% if (alcohol) { %>
          <p><strong><em>Yes, we serve alcohol!</em></strong></p>
        <% } %>
      </ul><hr>
    </p>
  </article>
</script>


<!-- SEARCH CRITERIA HTML -->
<script type="text/template" id="search-template">
  <article>
    <p>
      <strong>Challenges: </strong> <%= challenges %>
    </p>
    <p>
      <strong>Foodtruck: </strong> <%= foodtruck %>
      <ul>
        <% for (var truck in foodtruck) { %>
          <li><%= foodtruck[truck]["name"] %><li>
            <%= foodtruck[truck]["description"] %>
        <% } %>
      </ul><hr>
    </p>
    <p>
      <strong>Veggie: </strong> <%= veggie %>
    </p>
  </article>
</script>
